@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 4em;
  padding: 0.7rem;
  background-color: white;
  box-shadow: 3px 3px 10px 1px #cccccc48;
}
.imgmobile {
  width: 6rem;
}
nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100vw;
  height: 100%;
  padding: 40px;
  transition: all 300ms;
}
.navbaractive {
  display: block;
}
nav ul {
  margin-top: 6rem;
}
nav ul li {
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  list-style: none;
  border-bottom: 1.5px solid white;
}
nav ul li a {
  color: #686868;
  text-decoration: none;
}
.active {
  background: none;
  padding: 0px;
  border-radius: none;
  color: red;
  font-weight: bold;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0.734);
}
.burger {
  position: sticky;
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  z-index: 10;
  margin-top: 0.3rem;
}
.spanburger {
  display: block;
  width: 100%;
  height: 0.26em;
  background: red;
  border-radius: 5px;
  margin-top: 0.36em;
  transition: all 200ms;
  transform-origin: 0px 100%;
}
.burgeractive{
  position: fixed;
  right: 1rem;
}
.activespanburger1 {
  transform: rotate(45deg) translate(-2px, 1px);
}
.activespanburger2 {
  opacity: 0;
}
.activespanburger3 {
  transform: rotate(-45deg) translate(-3px, 4px);
}
.activeburger {
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  right: 2rem;
}
#presupuesto_boton_navbar {
  width: 10em;
  margin-top: 2rem;
  border: 2px solid red;
  border-radius: 0.3rem;  
  margin-left: 2rem;
}
.whatsapp {
    display: none;
    position: fixed;
    z-index: 10;
    width: 3em;
    bottom: 2em;
    right: 1.5em;
  }
.whatsappactive {
  display: none;
}
main{
    margin-top: 1rem;
}
h1 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
  }
main section div{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    align-items: center;
}
h3{
    font-size: 0.9em;
    font-weight: 400;
}
.select_buscador{
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    width: 15em;
    height: 2em;
    border-radius: 6px;
    border: 1px solid rgba(255, 0, 0, 0.41);
    text-align: center;
}
.rango_precio{
    flex-direction: row;
}
.select_precio{
    margin: 0.37rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 0.1rem;
    border: 1px solid rgba(255, 0, 0, 0.41);
    width: 7em;
}
button {
  background-color: white;
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-color: rgba(255, 0, 0, 0.374);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 3px 3px 2px 1px #ccc;
  width: 20.5em;
}
button:hover {
  background-color: red;
  color: white;
}
.button_buscador{
    width: 12.4em;
    color: white;
    background-color: red;
    font-weight: 600;
    border-radius: 6px;
    border: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.button_buscador:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.4em;
    border-radius: 6px;
    border: 1px solid red;
    background-color: white;
    color: red;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}
/* servicios */
#servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.nuestros_servicios{
    width: 250px;
    margin-top: 2rem;
}
h2{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
h4{
    font-size: 0.8rem;
    font-weight: 300;
    width: 18em;
}
.titulos{
    margin-top: 2rem;
}
.titulo_servicios{
  margin-top: 2rem;
}
.servicios{
  display: grid;
  grid-template-columns:auto;
}
/* servicios */
/* nosotros */
#quienes_somos p{
    width: 80%;
    text-align: justify;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
#quienes_somos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quienes_somos h2{
  font-size: 1.3rem;
}
#quienes_somos ul li{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 450;
    margin-top: 0.3rem;
    text-align: center;
}
#quienes_somos ul{
    margin-top: 0.5rem;
}
.dueños{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    width: 150px;
    border: 2px solid red;
    border-radius: 100px;
}
#quienes_somos div div h3{
  text-align: center;
}
/* nosotros */
#contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
#contacto h3{
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}
.input_contacto{
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  width: 15em;
  height: 2em;
  border-radius: 6px;
  border: 1px solid rgba(255, 0, 0, 0.41);
}
#form_contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
#contacto form h5{
  font-size: 0.9em;
  font-weight: 400;
}
#contacto form button{
  margin-top: 0.7rem;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 4.3rem;
}
footer h6{
  width: 70%;
  text-align: center;
  margin-top: 0.3rem;
}
.img_footer {
  margin-left: 2rem;
  width: 2em;
  height: 2em;
}
footer div{
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 90%;
}
/* cards */
#section_cards{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
section article{
  width: 282px;
  height: 50vh;
  border: 1px solid red;
  border-radius: 10px;
  margin-top: 2rem;
}
section article img{
  width: 280px;
  border-radius: 10px;
}
section article h3{
  font-size: 1em;
  color: #686868;
  margin-left: 1rem;
}
section article h2{
  font-size: 1.3em;
  text-align: center;
  margin-top: -0.2rem;
}
section article div h4{
  font-size: 1em;
  color: #686868;
  margin-left: 0.2rem;
}
section article div img{
  width: 20px;
  margin-left: 0.8rem;
}
section article div{
  display: flex;
  flex-direction: row;
  margin-top: -0.2rem;
}
section article h1{
  font-size: 2em;
  margin-top: 0.5rem;
}
section article a{
  text-decoration: none;
  color: black;
}
/* cards */
/* detalle propiedades */

/* detalle propiedades */
@media(min-width:768px){
  #presupuesto_boton_navbar{
    margin-left: 16rem;
  }

  .select_buscador{
    width: 30em;
    height: 2.3em;
  }
  .select_precio{
    width: 14.5em;
    height: 2.3em;
  }
  .button_buscador{
    width: 25em;
    height: 2.3em;
  }
  .button_buscador:hover {
    width: 25em;
    height: 2.3em;
  }
  .input_contacto{
    width: 22em;
  }
  /* footer */
  footer{
    font-size: 1.2em;
    font-weight: 380;
  }
  footer{
    width: 40rem;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 2rem;
  }
  footer h6{
    width: 100%;
    text-align: center;
    margin-top: 0.3rem;
    margin-right: 0 !important;
  }
  .images-footer{
    margin-left: 4rem;
  }
  .img_footer {
    margin-left: 2rem;
    width: 2em;
    height: 2em;
  }
  footer div{
    width: 40%;
  }
  /* footer */
  /* servicios */
  .nuestros_servicios{
    width: 500px;
    height: 300px;
    margin-top: 2rem;
  }
  h4{
    font-size: 1.5rem;
    font-weight: 300;
    width: 20em;
  }
  /* servicios */
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.3em;
  }
  /* nosotros */
  #quienes_somos p{
    width: 80%;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  #quienes_somos h2{
    font-size: 2rem;
  }
  #quienes_somos ul li{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .dueños{
    width: 220px;
    border: 2px solid red;
    border-radius: 150px;
  }
  #quienes_somos h3{
    font-size: 1.7em;
    font-weight: 400;
  } 
  /* nosotros */
  /* cards */
  #section_cards{
    grid-template-columns: auto auto;
    gap: 1rem 4rem ;
  }
  /* cards */
}
@media(min-width:1024px){
  body{
    display: flex;
}
  .imgmobile{
    position:fixed;
    z-index: 999;
    margin-left: 3rem;
    margin-top: 0rem;
    width: 8rem;
  }
  .burger{
    display: none;
  }
  header{
    padding-top: 1rem;
    display: flex;
    position: fixed;
    flex-direction: row;
    background-color: white;
    box-shadow: 3px 3px 10px 1px #cccccc48;
    z-index: 888;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    align-items: left;
    width: 100%;
    height: 5em;
    right: 0;
  }
  nav ul {
    margin-top: 0;
    margin-left: 10rem;
    display: flex;
  }
  nav ul li {
    margin-top: 0;
    margin-left: 4rem;
    font-size: 1.3rem;
    list-style: none;
    border-bottom: 1.5px solid white;
  }
  nav ul li a {
    color: #686868;
    text-decoration: none;
  }
  #presupuesto_boton_navbar {
    width: 10em;
    height: 3em;
    margin-top: -0.7rem;
    margin-left: 4rem;
    border: 2px solid red;
    background-color: red;
    color:white;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
  }
  #presupuesto_boton_navbar:hover{
    background-color: white;
    color: red;
  }
  main{
    margin-top: 7rem;
    width: 100%;
    background-color: white;
  }
  .slider-scale{
    height: 600px !important;
  }
  .color-botones:hover{
    background-color: #ff000040 !important;
    border: none;
  }
  .color-botones{
    box-shadow: none;
  }
  .span-slider{
    box-shadow: none;
  }
  #preferencia div{
    margin-top: 2rem;
    margin-left: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly
  }
  #preferencia div div{
    display: flex;
    flex-direction: column;
  }
  .rango_precio{
    display: flex;
    flex-direction: row !important;
    margin-top: 4rem !important;
  }
  .select_precio{
    width: 10em;
    height: 2.3em;
  }
  .button_buscador{
    width: 15rem;
    margin-top: 3rem;
    margin-left: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_buscador:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: white;
    color: red;
    width: 15rem;
  }
  /* servicios */
  .titulo_servicios{
    margin-top: 8rem;
  }
  #servicios{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7rem;
    justify-content: center;
  }
  .servicios{
    align-items: center;
    width: 20rem;
    border-radius: 10px;
    border: 1px solid red;
  }
  .nuestros_servicios{
    width: 100%;
    height: 15rem;
    margin-top: 0;
    border-radius: 8px 8px 0 0 ;
  }
  #servicios .servicios div h4{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .servicios_titulo{
    width: 100%;
    margin-top: 2.2rem;
    font-size: 1.3rem;
  }
  .servicios_texto{
    font-size: 1.1rem !important;
    margin-top: 1.5rem !important;
  }
  /* servicios */
  /* nosotros */
  #quienes_somos{
    margin-top: 7rem;
  }
  #quienes_somos ul{
    display: flex;
    flex-direction: row;
  }
  #quienes_somos ul li{
    margin: 1.5rem;
  }
  .dueños{
    border-radius: 150px;
  }
  #quienes_somos div{
    display: flex;
    flex-direction: row;
  }  
  #quienes_somos div div{
    display: flex;
    flex-direction: column;
    margin: 5rem;
  }
  .img_nosotros{
    width: 50%;
    margin-top: 2rem;
  }
  /* nosotros */
  /* contacto */
  .form_contacto{
    margin-bottom: 2rem;
    border: 2px solid red;
  }
  #contacto h3{
    text-align: center;
  }
  .button_buscador_contacto{
    width: 25rem;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
  }
  .button_buscador_contacto:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: white;
    color: red;
    width: 25rem;
  }
  /* contacto */
  /* footer */
  footer{
    width: 93vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2rem;
  }
  footer h6{
    margin-left: 5rem;
    text-align: left;
  }
  footer div{
    width: 20em;
  }
  /* footer */
  /* cards */
  #section_cards{
    grid-template-columns: auto auto auto;
    gap: 1rem 3rem ;
  }
  section article{
    height: 52vh;
  }
  /* cards */
  /* detalle propiedades */
#detalle_propiedades{
  width: 90%;
  margin: 3rem;
}
#detalle_propiedades section img{
  width: 500px;
}
#detalle_propiedades section{
  display: grid;
  grid-template-columns: auto auto;
}
#detalle_propiedades section div{
  display: grid;
}
#detalle_propiedades section div h2{
  margin-top: 0;
  margin-bottom: 0;
}
#detalle_propiedades section div h3{
  margin-top: 0;
  margin-bottom: 0;
}
#detalle_propiedades h1{
  margin-top: 0.5rem;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 0.5rem;
}
#descripcion{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
#descripcion section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  border: 1px solid red;
  border-radius: 10px;
}
#descripcion img{
  width: 40px;
}
#descripcion h4{
  font-size: 1.2rem;
  text-align: center;
}
#descripcion_detalle_propiedades{
  width: 500px;
  margin-left: 3rem;
  margin-top: 3rem;
}
/* detalle propiedades */
}