@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  height: 4em;
  padding: 0.8rem;
  background-color: white;
  box-shadow: 3px 3px 10px 1px #cccccc48;
}
.imgmobile {
  width: 6rem;
}
nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.navbaractive {
  display: block;
}
nav ul {
  margin-top: 6rem;
}
nav ul li {
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  list-style: none;
  border-bottom: 1.5px solid white;
}
nav ul li a {
  color: #686868;
  text-decoration: none;
}
.active {
  background: none;
  padding: 0px;
  border-radius: none;
  color: red;
  font-weight: bold;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0.734);
}
.burger {
  position: sticky;
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  z-index: 10;
  margin-top: 0.2rem;
}
.spanburger {
  display: block;
  width: 100%;
  height: 0.26em;
  background: red;
  border-radius: 5px;
  margin-top: 0.36em;
  transition: all 200ms;
  transform-origin: 0px 100%;
}
.activespanburger1 {
  transform: rotate(45deg) translate(-2px, 1px);
}
.activespanburger2 {
  opacity: 0;
}
.activespanburger3 {
  transform: rotate(-45deg) translate(-3px, 4px);
}
.activeburger {
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  right: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
h1 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 450;
  width: 100%;
}
#form_tasador {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1em auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
}
label {
  margin-top: 0.5rem;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}
input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}
button {
  background-color: white;
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-color: rgba(255, 0, 0, 0.374);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 3px 3px 2px 1px #ccc;
  width: 20.5em;
}
button:hover {
  background-color: red;
  color: white;
}
select {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid red;
  margin-top: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
#checkboxes {
  display: flex;
  align-items: center;
}
.pyt {
  margin-left: 1.6rem;
  margin-top: 0.7rem;
}
.pyt2 {
  margin-left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}
#botoncalcularprecio {
  margin: 1rem 0 0 0;
  width: 100%;
}
#presupuesto_boton_navbar {
  width: 10em;
  margin-top: 2rem;
  border: 2px solid red;
  margin-left: 8rem;
}
.popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.popup_border {
  width: 300px;
  height: 50%;
  background-color: white;
  border-radius: 30px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cerrar_cotizacion {
  position: absolute;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: red;
  color: white;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-left: 13rem;
  cursor: pointer;
}
.cerrar_cotizacion:hover {
  position: absolute;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: red;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-left: 13rem;
  animation: all 200ms;
}
#precio_propiedad {
  display: flex;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-left: 4.5rem;
}
#precio {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
}
#button_descargar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  margin-top: 2rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
#button_descargar:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-top: 1rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  color: red;
  font-weight: 600;
  font-size: 1rem;
}
.disclamer {
  text-align: center;
  font-size: 0.5rem;
  margin-top: 2rem;
  font-weight: 500;
}       

.popup .popup_border .cerrar_cotizacion h6{
    margin-top: 0;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.pdisclamer {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: 80%;
}
footer {
    text-align: center;
    width: 100%;
    height: 6rem;
    font-weight: 400;
    padding: 1rem;
    left: 0;
    bottom: 0;
}
h6{
    margin-top: 0.3rem;
}
.img_footer{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 2em;
    height: 2em;
}   
@media(min-width:768px){
    #checkboxes{
        margin-left: 10rem;
    }
    .pyt{
        margin-left: 5rem;
    }
    #presupuesto_boton_navbar{
        margin-left: 18.5rem;
    }
    .disclamer{
        font-size: 0.7rem;
        margin-top: 0.9rem;
    }
}
@media(min-width:1024px){
    .burger{
        display: none;
    }

    .imgmobile{
      position:fixed;
      z-index: 999;
      margin-left: 3rem;
      margin-top: 0rem;
      width: 8rem;
    }
    header{
      padding-top: 1rem;
      display: flex;
      position: fixed;
      flex-direction: row;
      background-color: white;
      box-shadow: 3px 3px 10px 1px #cccccc48;
      z-index: 888;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1.5rem;
      align-items: left;
      width: 100%;
      height: 5em;
      right: 0;
    }
    nav ul {
      margin-top: 0;
      margin-left: 10rem;
      display: flex;
    }
    nav ul li {
      margin-top: 0;
      margin-left: 4rem;
      font-size: 1.3rem;
      list-style: none;
      border-bottom: 1.5px solid white;
    }
    nav ul li a {
      color: #686868;
      text-decoration: none;
    }
    #presupuesto_boton_navbar {
      width: 10em;
      height: 3em;
      margin-top: -0.7rem;
      margin-left: 4rem;
      border: 1px solid red;
      background-color: red;
      color:white;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer;
    }
    #presupuesto_boton_navbar:hover{
      background-color: white;
      color: red;
    }
    main{
      margin-top: 6rem;
    }
    h1{
        font-size: 2rem;
    }
    #form_tasador{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 3rem;
    }
    input[type="number"] {
        width: 70%;
        padding: 5px;
        border: 1px solid red;
        border-radius: 5px;
        margin-bottom: 1em;
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
    }
    #botoncalcularprecio{
        width: 70%;
        
    }
    #ubicacion{
        width: 70%;
    }
    #checkboxes{
        margin-left: 0;
    }
    .pyt{
        margin-left: 4.3rem;
    }
}
@media (min-width: 1600px){
    
}