@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo_desktop{
  display: none;
}
header {
  width: 100%;
  height: 7em;
  position:fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 3px 3px 10px 1px #cccccc48;
}
.imgmobile {
  width: 10rem;
}
nav {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 1;
  background-color: white;
  width: 250px;
  height: 100vh;
  padding: 40px;
  transition: all 300ms;
}
.whatsappactive {
  display: none;
}
.navbaractive {
  right: 0px;
  display: block;
}

nav ul {
  margin-top: 6rem;
}

nav ul li {
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 1.3rem;
}
nav ul li a {
  color: #686868;
}
.active {
  background: none;
  padding: 0px;
  border-radius: none;
  color: red;
  font-weight: bold;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0.734);
}
.burger {
  position: sticky;
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  z-index: 10;
  margin-top: 1rem;
}
.spanburger {
  display: block;
  width: 100%;
  height: 0.26em;
  background: red;
  border-radius: 5px;
  margin-top: 0.36em;
  transition: all 200ms;
  transform-origin: 0px 100%;
}
.activespanburger1 {
  transform: rotate(45deg) translate(-2px, 1px);
}
.activespanburger2 {
  opacity: 0;
}
.activespanburger3 {
  transform: rotate(-45deg) translate(-3px, 4px);
}
.activeburger {
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  right: 2rem;
}
.backmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.backmenuactive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
ul {
  flex-direction: column;
}
li {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  list-style: none;
  border-bottom: 1.5px solid white;
}
li a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 400;
}
#presupuesto_boton_navbar {
  width: 10em;
  margin-top: 2rem;
  border: 2px solid red;
}
.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.popup_border {
  width: 450px;
  height: 75vh;
  background-color: white;
  border-radius: 30px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cerrar_cotizacion {
  position: absolute;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: red;
  color: white;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-left: 20rem;
  cursor: pointer;
}
.cerrar_cotizacion:hover {
  position: absolute;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: red;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-left: 20rem;
  animation: all 200ms;
}
#precio_propiedad {
  display: flex;
  font-weight: 600;
  font-size: 2.1rem;
  margin-top: 5rem;
  width: 400px;
}
#precio {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 3rem;
}
#button_descargar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-top: 5rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
#button_descargar:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-top: 5rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  color: red;
  font-weight: 600;
  font-size: 1rem;
}
.disclamer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  font-weight: 400;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pdisclamer {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: 550px;
}
.sucursal {
  text-align: center;
  width: 270px;
}
form {
  width: 30em;
  margin: 2em auto;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid #ff0000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 0.5rem;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
  border-color: rgb(255, 0, 0);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

button {
  background-color: white;
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-color: rgba(255, 0, 0, 0.374);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 3px 3px 2px 1px #ccc;
  width: 20.5em;
}

button:hover {
  background-color: red;
  color: white;
}
select {
  width: 100%;
  padding: 0.4rem;
  border: 3px solid #ccc;
  margin-top: 2rem;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  border-color: rgb(255, 0, 0);
}
#checkboxes {
  display: flex;
  align-items: center;
}
.pyt {
  margin-left: 4.7rem;
  margin-top: 0.7rem;
}
.pyt2 {
  margin-left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}
#botoncalcularprecio {
  margin: 1rem 0 0 0;
  width: 25.5rem;
}
.ciudad {
  font-size: 1rem;
}
#ubicacion {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}
#buscador {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 10rem 0 10rem;
  margin-top: 2rem;
}
#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.3rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.whatsapp {
  position: fixed;
  z-index: 10;
  width: 4em;
  bottom: 2em;
  right: 1.5em;
}
.select_buscador {
  width: 12em;
  margin-right: 2rem;
}
.select_buscador2 {
  width: 12em;
}
h3 {
  margin-left: 1rem;
  font-size: 1.2em;
  font-weight: 400;
}
#input_buscador1 {
  margin-top: 1rem;
  margin-right: 2rem;
  width: 8rem;
}
#input_buscador2 {
  width: 8rem;
}
.button_buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28em;
  height: 40px;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.button_buscador:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28em;
  height: 40px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  color: red;
  font-weight: 600;
  font-size: 1rem;
}
#nuestros_servicios {
  margin-top: 5rem;
}
.nuestros_servicios {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20em;
  height: 15em;
}
.span_servicios {
  width: 35em;
  height: 0.15em;
  background: red;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}
#quienes_somos {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.h3_servicios {
  text-align: center;
  width: 23em;
}
.titulos {
  font-size: 2em;
}
#quienes_somos_p {
  margin-top: 2rem;
  width: 40em;
  text-align: justify;
}
#nuestros_valores {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
}
.ul_valores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ul_valores li {
  margin-left: 1rem;
  margin-right: 1rem;
}
#li_valores {
  margin-left: 0rem;
}
#contacto {
  margin-top: 5rem;
}
#h3_contacto {
  font-size: 1em;
  margin-top: 1rem;
}
h5 {
  font-size: 1em;
  margin: 1rem 0 0.5rem 1rem;
  font-weight: 500;
}
.input_contacto {
  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 0.2rem;
}
.select_contacto {
  margin: 0;
  border: 1px solid red;
}
textarea {
  resize: vertical;
  min-height: 10rem;
}
#button_contacto {
  margin-top: 1.5rem;
  width: 100%;
}

#borde_preferencia {
  border: 2px solid red;
  width: 35em;
  height: 43em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
footer {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: 6rem;
  background-color: red;
  color: white;
  font-weight: 400;
  padding: 1rem 2rem 1rem 1rem;
  left: 0;
  bottom: 0;
}
.facebook {
  margin-top: 0.7rem;
  margin-left: 8rem;
}
.img_footer {
  width: 2em;
  height: 2em;
}
#h3_renovacion {
  font-size: 0.9em;
  text-align: center;
  font-weight: 400;
  width: 15;
  margin-top: 0.5rem;
}
#form_tasador{
  width: 30em;
  margin: 2em auto;
  padding: 1rem 2rem 2rem 2rem;
  border: 2px solid #ff0000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .burger {
    display: none;
  }
  .imgmobile {
    display: none;
  }
  .logo_desktop{
    position: absolute;
    width: 9em;
    height: 4em;
    z-index: 10;
    left: 4em;
    margin-top: -1.5rem;
}
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    background-color: red;
    width: 100%;
    height: 5em;
    right: 0;
    z-index: 0;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  
  nav ul li {
    margin-left: 3rem;
    font-size: 1.3rem;
    margin-top: 0;
    padding-bottom: 0.5rem;
    text-align: center;
    list-style: none;
    border-right: 0;
    border-bottom: 0;
  }
  nav ul li a {
    color: white;
  }
  #presupuesto_boton_navbar{
    width: 10em;
    margin-left: 4rem;
    margin-top: -0.5rem;
    border: 2px transparent white;
  }
  button {
    box-shadow: 3px 3px 2px 1px #cccccc8a;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .active {
    background: none;
    padding: 0px;
    border-radius: none;
    color: white;
    font-weight: bold;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid white;
  }
  main{
    margin-top: 5rem;
    width: 100%;
  }
  #inicio {
    display: flex;
    flex-direction: row;
    margin-top: 2.3rem;
  }
  .preferencia{
    
  }
  #borde_preferencia {
    border: 2px solid red;
    width: 80%;
    height: 30em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
}
